touch ./logs/app.log
echo "start at "$(date +"%Y.%m.%d %H:%M") >> ./logs/app.log

cat ./config/text.txt

source ./config/settings.cfg
echo "connection url = "$servers

{% if print_cur_env is defined %}echo 'current env = {{ inventory_name }}'{% endif %}
